@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

:root {
  --neutral-100: #0f0f0f;
  --neutral-200: #262626;
  --neutral-300: #3d3d3d;
  --neutral-400: #545454;
  --neutral-500: #6b6b6b;
  --neutral-600: #828282;
  --neutral-700: #999999;
  --neutral-800: #b8b8b8;
  --neutral-900: #f0f0f0;
  --brand: #ffe24e;
}

@theme inline {
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-background: var(--neutral-900);
  --color-foreground: var(--neutral-100);
  --color-brand: var(--brand);
}

@layer base {
  ::selection {
    @apply text-neutral-900 bg-neutral-500;
  }

  body {
    font-family: "Instrument Sans", sans-serif;
    @apply text-foreground bg-background;
  }
}
